@import './color.scss';
@import "./variable.scss";


// 字体相关
// 重点提示
.k-p {
  font-weight: bold;
  color: var(--primary-danger-color);
}


.fb {
  font-weight: bold;
}




// Badge 组件
.badge-sucess {
  color:#17baa1 !important;
  background-color: #cce3dc !important;
  border-color: #cce3dc !important;
}